* {
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 150px;
  font-family: "Festive", cursive;
  font-size: 70px;
  vertical-align: middle;
  color: #64bebe;
}
#sub {
  text-align: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Festive", cursive;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  color: #64bebe;
}

.top {
  height: 800px;
  width: 100%;
  background-color: #eaf6f6;
  text-align: center;
  position: relative;
}

#pro {
  text-decoration: underline;
}

#cloud1 {
  position: absolute;
  right: 100px;
  top: 15px;
}

#cloud2 {
  position: absolute;
  left: 100px;
}

#mountain {
  margin-top: 57px;
}

#profile_pic {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h2 {
  margin-top: 40px;
  text-align: center;
  display: block;
  position: relative;
  color: #66BFBF;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 70px;
}

#coding {
  
  margin-left: 20%;
  display: block;
  color: #11999E;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

#about_me {
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
  display: block;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
}

hr {
  width: 40px;
  border-top: 5px dotted #b5b8b8;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.skill_section{
  margin-bottom: 170px;
  margin-left: auto;
  margin-right: auto;
}
#coding_img{
  float: left;
  margin-right: 3%;
}

#skill{
  text-align: left;
  margin-top: 20px;
}

#photo{

  margin-left: 32.5%;
  display: block;
  color: #11999E;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}


#photography_img{
  margin-right: 22%;
  float: right;
}

#photography{
  width: 40%;
  text-align: left;
  margin-top: 20px;
  margin-left: 32.5%;
}

#contact_comment1{
  text-align: center;
  display: block;
  color: #11999E;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}


#contact_comment{
  text-align: center;
  font-size: 18px;
  display: block;
  margin-top: 3%;
  font-family: "Times New Roman", Times, serif;
}

.button_container{
  margin-top: 60px;
  margin-bottom: 40px;
  width: 100%;
  height: 30px;
  position: relative;
}

.button_center{
  margin:0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contact_btn{
  font-family: Arial, Helvetica, sans-serif;
  height: 45px;
  width: 140px;
  background-color:#66BFBF;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  padding:15px;
  box-shadow: 0 1px 3px rgba(0,0,0.12), 0 1px 2px rgba(0,0,0.24);
  background-image: linear-gradient(to top,#76C893 0%, #52B69A 12.5%, #34A0A4 25%, #168AAD 37.5%, #1A759F 50%, #1E6091 75%, #184E77 100%);
}
.contact_btn:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 8px 10px 12px;
}

.footer{
  width: 100%;
  height:150px;
  background-color: #66BFBF;
  text-align: center;
  
}

.column{
  float:left;
  width: 90px;
  padding: 10px;
  text-align: center;
  position: relative;
  left: 41%;
  color: #11999E;
}
.row{
  top:20px;
  position: relative;
}
.row:after{
  content:"";
  display: table;
  clear: both;
}

.last{
  color: #EAF6F6;
  font-size: 11px;
  margin-top: 50px;
}






